.categories {
    color: white;
}

.featured-h2 {
    text-align: center;
    color: white;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
}

/* productCard ---- */
.productCard {
    width: 20vmax;
    background-color: white;
    color: black;
    margin: .5vmax 0;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>div {
    margin: 0.5vmax;
}

.productCard>p {
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span {
    margin: 0.5vmax;
    color: yellow;
}

.productCard:hover {
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .productCard {
        width: 40vmax;
    }
}