.categories ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    border-bottom: 1px solid rgb(71, 71, 71);
    background-color: black;
}

.categories ul li a {
    background-color: rgb(255, 255, 255);
    padding: .2rem .5rem;
    border-radius: 20px;
    transition: all .4s linear;
}

.categories ul li a:hover {
    box-shadow: 0 0 15px white;
}

.featured-h2 {
    text-align: center;
    color: white;
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
}

/* productCard ---- */
.productCard {
    width: 20vmax;
    background-color: white;
    color: black;
    margin: .5vmax 0;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>div {
    margin: 0.5vmax;
}

.productCard>p {
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

.productCard>span {
    margin: 0.5vmax;
    color: tomato;
}

.productCard:hover {
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .productCard {
        width: 40vmax;
    }
}