/* Header ----- */
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .middle ----- */
/* .header-middle {
    border-radius: 10px;
    border: 1px solid black;
} */

.search-bar form div {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
}

.search-bar form input {
    font-size: inherit;
}

.search-bar form input[type="text"] {
    width: 100%;
}

.search-bar form input[type="submit"] {
    background-color: transparent;
    color: var(--main-color);
}

/* .header-right --- */
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-right #login {
    background-color: var(--main-color);
    color: white;
    padding: .15rem .5rem;
    border-radius: 5px;
}

/* Header media queries ------ */
@media (max-width:500px) {
    .header-right {
        gap: .5rem;
    }
}

@media (max-width:400px) {
    .header-middle {
        max-width: 40%;
    }
}