/* Header ----- */
header {
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.search-bar form div {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
}

.search-bar form input {
    font-size: inherit;
}

.search-bar form input[type="text"] {
    width: 100%;
}

.search-bar form input[type="submit"] {
    background-color: transparent;
    color: var(--main-color);
}

/* .header-right --- */
.header-right {
    height: 3rem;
}

.header-right #login {
    background-color: var(--main-color);
    color: white;
    padding: .15rem .5rem;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* useroptions */
.speedDial {
    width: 50px;
}

.speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

/* Header media queries ------ */
@media (max-width:500px) {
    .header-right {
        gap: .5rem;
    }
}