footer {
    color: white;
    background-color: rgb(21, 21, 21);
}

.footer-top {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(83, 83, 83);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-left h4,
.footer-right h4 {
    margin-bottom: .5rem;
}

.footer-left p,
.footer-right p {
    color: gray;
    line-height: 1.7;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}